@font-face {
  font-family: 'nunitoSans-light';
  src: url('./../font/NunitoSans-Light.ttf'); /* IE9 Compat Modes */
  src: url('./../font/NunitoSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'nunitoSans-regular';
  src: url('./../font/NunitoSans-Regular.ttf'); /* IE9 Compat Modes */
  src: url('./../font/NunitoSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'nunitoSans-semi-bold';
  src: url('./../font/NunitoSans-SemiBold.ttf'); /* IE9 Compat Modes */
  src: url('./../font/NunitoSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'nunitoSans-bold';
  src: url('./../font/NunitoSans-Bold.ttf'); /* IE9 Compat Modes */
  src: url('./../font/NunitoSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'nunitoSans-dark';
  src: url('./../font/NunitoSans-ExtraBold.ttf'); /* IE9 Compat Modes */
  src: url('./../font/NunitoSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
  
  